body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
header {
  margin-bottom: 10%;
  padding: 20%;
  display: flex;
  justify-content: center;
  background-image: url(/images/main-images/ALX_2596.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

h2{
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 7px;
}
#about-me {
  
  margin: 30px 50px 0 50px;
}
#what-i-do{
  box-sizing: border-box;
  margin: 18px 45px 0 45px;
}
#latest-work{
  
  margin: 18px 0 0 17.5px;
}
.biography,
.work-style, .contact, .instagram {
  margin: 2% 10%;
}

.biography {
  display: flex !important;
  flex-direction: column;
}
.work-style p, .biography p {
  word-wrap: break-word;
  position: relative;
  font-size: 1rem;
  line-height: 1.6;
}

.latest-work {
  margin: 10px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.gallery img {
  max-width: 350px;
  min-width: 300px;
  max-height: 600px;
  min-height: 280px;
  margin: 2px;
}
.bio-portrait {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  height: 300px;
  width: 300px;
}

@media only screen and (min-width: 600px) {
  .gallery img:hover {
    transform: scale(1.5, 1.5);
  }
  .gallery {
    margin: 0% 10% 0% 10%;
  }
}
