body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
header {
  
  background-image: url(/images/background-images/ALX_2596.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  min-height: 150px;
}
h1{
  font-weight: 900;
  font-size: 3rem;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
h2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 7px;
}
button{
  width:100%;
}
.contact{
  background-image: url(/images/background-images/FfF5U-cA.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
.heading {
  position: absolute;
  bottom: 0;
  left: 27.5%;
}
.biography,
.work-style,
.latest-work h2,
.contact,
.instagram {
  padding: 2% 10%;
}

.work-style p,
.biography p {
  word-wrap: break-word;
  position: relative;
  font-size: 1rem;
  line-height: 1.6;
}
.biography {
  display: flex !important;
  flex-direction: column;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin: 10px;
}
.gallery img {
  max-width: 350px;
  min-width: 300px;
  max-height: 600px;
  min-height: 280px;
  margin: 2px;
}
#bio-portrait {
  display: flex;
  margin: 0 auto;
  height: 300px;
  width: 300px;
  padding: 0 0 30px 0;
}

@media only screen and (min-width: 600px) {
  .gallery img:hover {
    transform: scale(1.5, 1.5);
  }
  .gallery {
    margin: 0% 10% 0% 10%;
  }
  .gallery img {
    max-width: 375px;
    min-width: 300px;
    max-height: 600px;
    min-height: 280px;
    margin: 2px;
  }
  header {
    background-image: url(/images/background-images/ALX_2596.jpeg);
    padding: 23%;
  }
  .biography {
    flex-direction: row;
  }
  .biography section {
    margin: 15px;
  }
  .heading {
    position: absolute;
    bottom: 0;
    left: 30%;
  }
  .biography{
    background-image: url(/images/background-images/YqGoeJdA.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
