body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
header {
  margin-top: 20%;
  display: flex;
  justify-content: center;
}
.biography,
.work-style {
  margin: 2%;
}
.gallery {
  margin: 10px;
}
.gallery img {
  max-width: 320px;
  max-height: 320px;
}
img:hover {
  transform: scale(2, 2);
}
